In [12]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [18]:
start = datetime.datetime(2021,3,1)
end= datetime.datetime(2021,6,22)
df = data.DataReader(name="AAPL", data_source="yahoo", start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-01,127.930000,122.790001,123.750000,127.790001,116307900.0,127.196815
2021-03-02,128.720001,125.010002,128.410004,125.120003,102260900.0,124.539207
2021-03-03,125.709999,121.839996,124.809998,122.059998,112966300.0,121.493416
2021-03-04,123.599998,118.620003,121.750000,120.129997,178155000.0,119.572372
2021-03-05,121.940002,117.570000,120.980003,121.419998,153766600.0,120.856384
...,...,...,...,...,...,...
2021-06-16,130.889999,128.460007,130.369995,130.149994,91815000.0,129.765900
2021-06-17,132.550003,129.649994,129.800003,131.789993,96721700.0,131.401062
2021-06-18,131.509995,130.240005,130.710007,130.460007,108953300.0,130.074997
2021-06-21,132.410004,129.210007,130.300003,132.300003,79663300.0,131.909561
2021-06-22,134.080002,131.619995,132.130005,133.979996,74783600.0,133.584595

In [27]:
def inc_dec(c,o):
    if c > o:
        value="Increase"
    elif c<o:
        value="Decrease"
    else:
        value="Equal"
    return value

df["Status"]=[inc_dec(c,o) for c,o in zip(df.Close,df.Open)]

In [34]:
df["Middle"]=df.Open+df.Close/2
df["Height"]=abs(df.Close-df.Open)

In [37]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2021-03-01,127.930000,122.790001,123.750000,127.790001,116307900.0,127.196815,Increase,187.645000,4.040001
2021-03-02,128.720001,125.010002,128.410004,125.120003,102260900.0,124.539207,Decrease,190.970005,3.290001
2021-03-03,125.709999,121.839996,124.809998,122.059998,112966300.0,121.493416,Decrease,185.839996,2.750000
2021-03-04,123.599998,118.620003,121.750000,120.129997,178155000.0,119.572372,Decrease,181.814999,1.620003
2021-03-05,121.940002,117.570000,120.980003,121.419998,153766600.0,120.856384,Increase,181.690002,0.439995
...,...,...,...,...,...,...,...,...,...
2021-06-16,130.889999,128.460007,130.369995,130.149994,91815000.0,129.765900,Decrease,195.444992,0.220001
2021-06-17,132.550003,129.649994,129.800003,131.789993,96721700.0,131.401062,Increase,195.695000,1.989990
2021-06-18,131.509995,130.240005,130.710007,130.460007,108953300.0,130.074997,Decrease,195.940010,0.250000
2021-06-21,132.410004,129.210007,130.300003,132.300003,79663300.0,131.909561,Increase,196.450005,2.000000
2021-06-22,134.080002,131.619995,132.130005,133.979996,74783600.0,133.584595,Increase,199.120003,1.849991

In [38]:
p = figure(x_axis_type='datetime', width=1000, height=300)
p.title="Candlestick Chart"
hours_12 = 12*60*60*1000
p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"],
       hours_12, df.Height[df.Status=="Increase"],fill_color="green",line_color="black")

p.rect(df.index[df.Status=="Decrease"], df.Middle[df.Status=="Decrease"],
       hours_12, df.Height[df.Status=="Decrease"],fill_color="green",line_color="black")
output_file("CS.html")
show(p)